<h1 class="user_title">Players Signed Up</h1>

<div class="players ">
<% @users.each do |user| %>
    <h3 class="user_names my-2"><%= link_to user.name, user_path(user), class:"btn btn-home btn-primary" %></h3>
    <br>
<% end %>

</div>