<h1><%= @user.name %></h1>

<h5>Age: <%= @user.age %></h5>


<h3><%= @user.name %>'s Games</h3>

<ul>
<% @user.games.each do |game| %>
    
<li> <%= link_to game.court.name, game_path(game) %> </li>

<% end %>
</ul>