

<div class= "nav">
    <h4 class="nav_top"><%= link_to "Games", games_path %></h4>
    <h4 class="nav_top"><%= link_to "Players", users_path %></h4>
    <h4 class="nav_top"><%= link_to "Create Game", new_game_path %></h4>
</div>