
<div class="homepage">
<h1 style="color: orange">Welcome to J Courts</h1>

<div class="signup">
    <h2 class="signup">Sign Up Today</h2>

    <%= form_for (@user) do |f| %>

    <%= f.text_field :name, :placeholder => "Enter Your Name" %><br>

    <%=f.number_field :age, :placeholder => "Enter Your Age" %><br>
    <%= f.submit "Sign Up" %>
    <% end %>
</div>

<br><br><br><br><br><br><br><br><br><br><br>
<h2 style="color: orange" >The #1 app to Play Ball all Day long</h2>



</div>
