@import 'bootstrap/dist/css/bootstrap';



 /* comment */

 .btn-home {
     width: 100px;  
 }

 .btn-nav{
    height: 110px;
    padding: 15px ,15px;
    background-color: rgba(69, 56, 26, 0.577);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
 }


 body, html {
    font-family: 'Exo', sans-serif; 
    height: 100%;
    margin: 0;background-image: url("background.svg"); 
    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

 

 .container{
     
    position: relative;
    margin: auto;
    margin-top: 5%;
    width: 50%;
    height: 500px;
    border: 3px solid rgba(0, 0, 0, 0.893);
    padding: 10px;
    background-color: rgba(240, 69, 69, 0.831);

 }

 .new_user{
    margin: 10%;
 }

 .errors{
    color: #fff700;
 }

 .row{
     padding: 20px;
 }

 a {
    color: #fff700;
 }

 .nav-link {
    background-color: silver;
 }

 
