@import 'bootstrap/dist/css/bootstrap';


 /* comment */

 .btn-home {
     width: 100px;  
 }

 .btn-nav{
    height: 110px;
    padding: 15px ,15px;
    background-color: rgba(69, 56, 26, 0.577);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
 }


 body, html {
    height: 100%;
    margin: 0;background-image: url("background.svg"); 
    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

 

 .container{

    margin: auto;
    margin-top: 5%;
    width: 50%;
    height: 500px;
    border: 3px solid green;
    padding: 10px;
    background-color: white;

 }
 
