@import 'bootstrap/dist/css/bootstrap';


 /* comment */

 .btn-home {
     width: 100px;  
 }

 .btn-nav{
    height: 100px;
    padding: 15px ,15px;
    background-color: rgba(69, 56, 26, 0.577);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
 }


 body{
     background-image: url("background.svg"); 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }
 
