


.nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-color:rgb(255,165,0);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
  }

  .nav_top{
      padding: 20px;
  }